<nav class="navbar navbar-expand-md navbar-light bg-light">
 
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
          <a href="#" class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home</a> <br>
          <a href="#" class="nav-item nav-link" routerLink="/productInfo" routerLinkActive="active">Product Information</a> <br>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!--/.Navbar-->