<h2>Product Details:</h2>
<table>
    <tr>
       
        <th>ProductName</th>
        <th>ProductCode</th>
        <th>BranchName</th>
        <th>BranchCode</th>
        <th>ShippingAddress</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    <tr *ngFor = "let p of product">
        
        <td>{{p.productName}}</td>
        <td>{{p.productCode}}</td>
        <td>{{p.branchName}}</td>
        <td>{{p.branchCode}}</td>
        <td>{{p.shippingAddress}}</td>
        <td>
            <button (click) = "updateItem(p.productName, p.productCode,
            p.branchName, p.branchCode, p.shippingAddress)">Update</button>
        </td>
        <td><button button (click)="deleteData(p.productName,p.productCode,p.branchName,p.branchCode,p.shippingAddress)">Delete</button></td>
    </tr>
</table>
<br>
<router-outlet></router-outlet>
