table{
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid blue;
    border-collapse: collapse;
    width: 70%; 
    margin-left: 20px;
    text-align: center;  
}
h2{ margin-left: 20px; text-decoration: underline; color: crimson;}
td, th{
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black; 
    padding: 8px;
}
th{
    font-weight: bold;
}
tr:nth-child(even) {background-color: #e9caca;}
